{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' theme='news'%}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'items_store' store_filter='all' %}">Магазин предметов</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
        </ol>
    </nav>
{% endblock navigation %}

{% block content %}
    <div class="container">
        <p style="color:#0000ff">Цена за 1 предмет: {{ item.price }}</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Купить">
        </form>
    </div>
{% endblock content %}