DB_NAME = 'Имя бд'
DB_USER = 'Пользователь'
DB_USER_PASSWORD = 'Пароль'
DB_HOST = 'Сервер'
DB_PORT = 'Порт'

DJANGO_SECRET_KEY = 'Ключ'
DEBUG = True (для разработки)

RABBITMQ_HOST = 'localhost'
RABBITMQ_PORT = '5672'
RABBITMQ_USER = 'guest'
RABBITMQ_PASSWORD = 'guest'

REDIS_HOST = 'localhost'
REDIS_PORT = '6379'
REDIS_DB = '0'

ADMIN_DJANGO_USERNAME = ''
ADMIN_DJANGO_PASSWORD = ''
ADMIN_DJANGO_EMAIL = ''
