DB_NAME = 'Имя бд'
DB_USER = 'Пользователь'
DB_USER_PASSWORD = 'Пароль'
DB_HOST = 'Сервер'
DB_PORT = 'Порт'

DJANGO_SECRET_KEY = 'Ключ'
DEBUG = True (для разработки)

RABBITMQ_HOST = 'localhost'
RABBITMQ_PORT = '5672'
RABBITMQ_USER = 'guest'
RABBITMQ_PASSWORD = 'guest'

REDIS_HOST = 'localhost'
REDIS_PORT = '6379'
REDIS_DB = '0'


БЫЛО
DB_NAME = 'cards'
DB_USER = 'cards_admin'
DB_USER_PASSWORD = 'password'
DB_HOST = 'localhost'
DB_PORT = '5432'

DJANGO_SECRET_KEY = 'django-insecure-v$xe*s7)vw+&bdexg-6d60+#z22!vy2vjcr0@&m$rns4cebhrq'
DEBUG = True

RABBITMQ_HOST = 'localhost'
RABBITMQ_PORT = '5672'
RABBITMQ_USER = 'guest'
RABBITMQ_PASSWORD = 'guest'

REDIS_HOST = 'localhost'
REDIS_PORT = '6379'
REDIS_DB = '0'
