DB_NAME = 'Имя бд'
DB_USER = 'Пользователь'
DB_USER_PASSWORD = 'Пароль'
DB_HOST = 'Сервер'  # localhost
DB_PORT = 'Порт'  # '5432'

DJANGO_SECRET_KEY = 'Ключ'  # Пример django-insecure-v$xe*s7)vw+&bdexg-6d60+#z22!vy2vjcr0@&m$rns4cebhrq
DEBUG = True # Для разработки

RABBITMQ_HOST = 'Сервер'  # localhost
RABBITMQ_PORT = 'Порт'  # 5672
RABBITMQ_USER = 'Пользователь'  # guest
RABBITMQ_PASSWORD = 'Пароль'  # guest

REDIS_HOST = 'Сервер'  # localhost
REDIS_PORT = 'Порт'  # 6379
REDIS_DB = 'Имя бд'  # 0

ADMIN_DJANGO_USERNAME = ''  # admin
ADMIN_DJANGO_PASSWORD = ''  # P@ssword098
ADMIN_DJANGO_EMAIL = ''  # admin@gmail.com
