{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' theme='news'%}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Рейтинг</li>
        </ol>
    </nav>
{% endblock navigation %}

{% block content %}
    <div class="container col-md-7">
        <ol class="list-group list-group-numbered list-group-flush">
            {% for user in users %}
                <li class="list-group-item" class="row">
                    <div class="row">
                        <div class="col-11">
                            <a href="{% url 'view_profile' user_id=user.pk %}">{{ user.username }}</a>
                        </div>
                        <div class="col-1">
                            {{ user.rating }}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>

    <div class="container">
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                {% if page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">{{  page.previous_page_number }}</a></li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page.number }}</a>
                </li>

                {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a></li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock content %}