{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Рейтинг</li>
        </ol>
    </nav>
{% endblock navigation %}

{% block content %}
    <div class="container col-md-7">
        <ol class="list-group list-group-numbered list-group-flush">
            {% for user in users %}
                <li class="list-group-item" class="row">
                    <div class="row">
                        <div class="col-11">
                            <a href="{% url 'view_profile' user_id=user.pk %}">{{ user.username }}</a>
                        </div>
                        <div class="col-1">
                            {{ user.rating }}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock content %}