{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' theme='news'%}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Магазин карт</li>
        </ol>
    </nav>
{% endblock navigation %}

{% block content %}
    <div class="container col-12">
        <div class="row">
            {% for card in cards %}
            <div class="col-4">
                <div class="card card border-dark" style="width: 23rem;">
                    <img src="{{ card.class_card.image.url }}" class="card-img-top" alt="card_image">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.class_card }}</h5>
                        <p class="card-text">Редкость: {{ card.rarity }}</p>
                        <p class="card-text">Тип: {{ card.type }}</p>
                        <p class="card-text">Здоровье: {{ card.hp }}</p>
                        <p class="card-text">Урон: {{ card.damage }}</p>
                        <p>Способность: {{ card.class_card.skill }}</p>

                        {% if user.profile.gold < card.price %}
                            <p class="card-text">Цена: <span style="color:#ff0000">{{ card.price }}</span></p>
                        {% else %}
                            <p class="card-text">Цена: <span style="color:#009933">{{ card.price }}</span></p>
                        {% endif %}

                        {% if user.is_authenticated %}
                            <div class="mt-auto">
                            <form action="{% url 'buy_card' card_id=card.pk %}" method="post" class="w-100">
                                {% csrf_token %}
                                <button type="submit" class=" btn btn-primary" style="width: 100%;">Купить</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}