{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' theme='news'%}">Главная</a></li>
            {% if is_victory and winner == user %}
                <li class="breadcrumb-item active" aria-current="page">Бой с {{ loser.username }}</li>
            {% elif is_victory and loser == user %}
                <li class="breadcrumb-item active" aria-current="page">Бой с {{ winner.username }}</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">Бой с {{ enemy.username }}</li>
            {% endif %}
        </ol>
    </nav>
{% endblock navigation %}

{% block content %}
    <div class="container col-md-12 text-center">
        <h4>Итоги боя</h4>
        {% if is_victory is True %}
        <div class="row">
            <div class="col">
                <p><img width="300" height="300" alt="profile_image" src="{{ winner.profile.profile_pic.url }}"><p>
                <p>Победитель: <a style="color:#008000" href="{% url 'view_profile' user_id=winner.id %}">{{ winner.username }}</a></p>
            </div>
            <div class="col">
                <p><img width="300" height="300" alt="profile_image" src="{{ loser.profile.profile_pic.url }}"><p>
                <p>Проигравший: <a style="color:#ff0000" href="{% url 'view_profile' user_id=loser.id %}">{{ loser.username }}</a></p>
            </div>
        </div>
        {% else %}
        <h5>Ничья</h5>
        <div class="row">
            <div class="col">
                <p><img width="300" height="300" alt="profile_image" src="{{ user.profile.profile_pic.url }}"><p>
                <p>Вы: <a href="{% url 'view_profile' user_id=user.id %}">{{ user.username }}</a></p>
            </div>
            <div class="col">
                <p><img width="300" height="300" alt="profile_image" src="{{ enemy.profile.profile_pic.url }}"><p>
                <p>Противник: <a href="{% url 'view_profile' user_id=enemy.id %}">{{ enemy.username }}</a></p>
            </div>
        </div>
        {% endif %}
    </div>
    <br>

    <div class="container col-10 text-center">
        {% if reward_item_user or reward_amulet_user %}
        <h4>Награда за бой:</h4>
        <div class="row">
            {% for item in reward_item_user %}
                <div class="col">
                    <p><img width="250" height="250" alt="item_image" src="{{ item.image.url }}"><p>
                    <p>{{ item.name }}</p>
                </div>
            {% endfor %}
            {% for amulet in reward_amulet_user %}
                <div class="col">
                    <p><img width="250" height="250" alt="item_image" src="{{ amulet.image.url }}">
                    <p>
                    <p>{{ amulet.name }}</p>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

<div class="container col-md-5">
    <h4 class="text-center">История боя</h4>
    <br>
    {% for turn in history_fight %}
        {% for action in turn %}
            {% if action %}
                <li>{{ action }}</li>
            {% endif %}
        {% endfor %}
        ------------------------<br>
    {% endfor %}
</div>
{% endblock content %}