{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
<a href="{% url 'home' %}">Главная / </a>
<a href="{% url 'items_store' %}">Магазин предметов / </a>
{% endblock navigation %}

{% block content %}
    {% for item in items %}
        <div>
            <p><img width="200" height="200" alt="card_image" src="{{ item.image.url }}"><p>
            <p>{{ item.name }}</p>
            <p>Опыт: {{ item.experience_amount }}</p>
            {% if user.profile.gold < item.price %}
                <p style="color:#ff0000">Цена: {{ item.price }}</p>
            {% else %}
                <p style="color:#008000">Цена: {{ item.price }}</p>
            {% endif %}

            {% if user.is_authenticated %}
                <a style="color:#8b00ff" href="{% url 'buy_item' item_id=item.id %}">КУПИТЬ</a><br>
            {% endif %}
            -------------------------------------
    </div>
    {% endfor %}
{% endblock content %}