{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
<nav aria-label="breadcrumb" xmlns="http://www.w3.org/1999/html">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'items_store' %}">Магазин предметов</a></li>
            <li class="breadcrumb-item active" aria-current="page">Награда из сундука</li>
        </ol>
    </nav>
{% endblock navigation %}

{% block content %}
<div class="container col-md-12">
        <div class="row">
            {% for item in items %}
            <div class="col-md-4">
                <div class="card card border-dark" style="width: 23rem;">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="item_image">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">Опыт: {{ item.experience_amount }}</p>
                    </div>
                </div>
                <br><br>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}