{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'view_profile' user_id=user.id %}">{{ user.username }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Инвентарь</li>
        </ol>
    </nav>
{% endblock navigation %}

{% block content %}
    <div class="container col-8">
        <h4 class="text-center">Книги опыта</h4><br>
        <div class="row">
            {% for item in user_items %}
            <div class="col-6">
                <div class="card card border-dark" style="width: 23rem;">
                    <img src="{{ item.item.image.url }}" class="card-img-top" alt="card_image">
                    <div class="card-body">
                        <h5 class="card-title" class="card text-center">{{ item.item.name }}</h5>
                        <p class="card-text">Опыт: {{ item.item.experience_amount }}</p>
                        <p class="card-text">Количество: {{ item.amount }}</p>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container col-8">
        <h4 class="text-center">Амулеты</h4><br>
        <div class="row">
            {% for amulet in user_amulets %}
            <div class="col-6">
                <div class="card card border-dark" style="width: 23rem;">
                    <img src="{{ amulet.amulet_type.image.url }}" class="card-img-top" alt="card_image">
                    <div class="card-body">
                        <h5 class="card-title" class="card text-center">{{ amulet.amulet_type.name }}</h5>
                        <p class="card-text">Бонус к здоровью: {{ amulet.bonus_hp }}</p>
                        <p class="card-text">Бонус к урону: {{ amulet.bonus_damage }}</p>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

