{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' theme='news'%}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'view_profile' user_id=user_info.pk %}">{{ user_info.user.username }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
        </ol>
    </nav>
{% endblock navigation %}

{% block content %}
    <div class="container col-md-10">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Сохранить">
        </form>
    </div>


    <div class="container col-md-10 mt-5">
        <h3>Смена пароля</h3>
        <form method="post" action="{% url 'change_password' user_id=user_info.user.id %}">
            {% csrf_token %}
            {% if password_form %}
            {{ password_form.as_p }}
            {% else %}
            <p><label>Старый пароль:</label> <input type="password" name="old_password" class="form-control" required></p>
            <p><label>Новый пароль:</label> <input type="password" name="new_password1" class="form-control" required></p>
            <p><label>Подтверждение пароля:</label> <input type="password" name="new_password2" class="form-control"
                                                           required></p>
            {% endif %}
            <input type="submit" value="Сменить пароль">
        </form>
    </div>
{% endblock content %}