{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block content %}
    <div class="container col-8">
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="container col-md-6">
                {% for field in form %}
                <p class="form-label">{{ field.label }}</p>
                <p>{{ field }}</p>
                {% endfor %}
                <div class="text-center col-md-12-fluid"><input type="submit" value="Войти"></div>
            </div>
        </form>
    </div>
{% endblock content %}
