{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}



{% block content %}
<div class="container col-8">
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="container col-md-6">
            <p class="form-label">Ваша почта:</p>
            <p><input type="email" name="email" required class="form-control"></p>
            <div class="text-center col-md-12-fluid">
                <input type="submit" value="Отправить ссылку" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
{% endblock %}