{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}


{% block navigation%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' theme='news'%}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'view_profile' user_id=user.id %}">{{ user.username }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Транзакции</li>
        </ol>
    </nav>
{% endblock navigation %}

{% block content %}
    <div class="container col-md-12 text-center">
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th scope="col">ID</th>
                <th scope="col">Дата и время</th>
                <th scope="col">До</th>
                <th scope="col">После</th>
                <th scope="col">Итог</th>
                <th scope="col">Комментарий</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <th scope="row">{{ transaction.id }}</th>
                    <td>{{ transaction.date_and_time }}</td>
                    <td>{{ transaction.before }}</td>
                    <td>{{ transaction.after }}</td>
                    {% if transaction.result > 0 %}
                    <td><span style="color:#009933">{{ transaction.result }}</span></td>
                    {% else %}
                    <td><span style="color:#ff0000">{{ transaction.result }}</span></td>
                    {% endif %}
                    <td>{{ transaction.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}