{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
<a href="{% url 'home' %}">Главная / </a>
<a href="{% url 'view_profile' user_id=card.owner.pk %}">{{ card.owner.username }} / </a>
<a href="{% url 'card' card_id=card.pk %}">Карта {{ card.pk }} / </a>
<a href="{% url 'level_up' card_id=card.pk %}">Улучшение / </a>
{% endblock navigation %}

{% block content %}
    <p><img width="200" height="200" alt="card_image" src="{{ card.class_card.image.url }}"><p>
    <p>Уровень: {{ card.level }}</p>
    <p>Здоровье: {{ card.hp }} + {{ card.rarity.coefficient_hp_for_level }}</p>
    <p>Урон: {{ card.damage }} + {{ card.rarity.coefficient_damage_for_level }}</p>
    <p>Прогресс: {{ card.experience_bar }} / {{ need_exp }}</p>
    -------------------------------------------
    {% for item in inventory %}
    <p><img width="200" height="200" alt="item_image" src="{{ item.item.image.url }}"><p>
        <p>Предмет: {{ item.item.name }}</p>
        <p>Количество: {{ item.amount }}</p>
        <p>Получаемый опыт: {{ item.item.experience_amount }}</p>
        <p><a href="{% url 'level_up_with_item' card_id=card.id item_id=item.pk %}">Использовать</a></p>
    --------------------------------------------
    {% endfor %}
{% endblock content %}
