{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'view_profile' user_id=card.owner.pk %}">{{ card.owner.username }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'card' card_id=card.pk %}">Карта {{ card.pk }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'level_up' card_id=card.pk %}">Улучшение</a></li>
            <li class="breadcrumb-item active" aria-current="page">Предмет {{ item.item.name }}</li>
        </ol>
    </nav>
{% endblock navigation %}


{% block content %}
    <div class="container col-md-12">
        <div class="row">
            <div class="col text-center">
                <div class="card card border-dark" style="width: 20rem;">
                    <img src="{{ card.class_card.image.url }}" class="card-img-top" alt="card_image">
                    <div class="card-body">
                        <p class="card-text">Уровень: {{ card.level }}</p>
                        {% if card.level < card.rarity.max_level %}
                        <p class="card-text">Прогресс: {{ card.experience_bar }} / {{ need_exp }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="container">
                    <h4>Начисление опыта</h4>
                    <p>Предмет: {{ item.item.name }}</p>
                    <p>Количество: {{ item.amount }}</p>
                    <p>Цена использования: {{ item.item.gold_for_use }}</p>
                    <p>Получаемый опыт: {{ item.item.experience_amount }}</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Улучшить">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
