{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'view_profile' user_id=card.owner.pk %}">{{ card.owner.username }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Карта {{ card.pk }}</li>
        </ol>
    </nav>
{% endblock navigation %}

{% block content %}
    <div class="container col-md-3 mx-auto">
        <p><img width="320" height="320" alt="card_image" src="{{ card.class_card.image.url }}"><p>
        <p>Владелец: <a href="{% url 'view_profile' user_id=card.owner.pk %}">{{ card.owner }}</a></p>
        <p>Редкость: {{ card.rarity }}</p>
        <p>Класс: {{ card.class_card }}</p>
        <p>Тип: {{ card.type }}</p>
        <p>Здоровье: {{ card.hp }}</p>
        <p>Урон: {{ card.damage }}</p>
        <p>Уровень: {{ card.level }}</p>
        {% if user == card.owner and card.level < card.rarity.max_level %}
            <p>Прогресс: {{ card.experience_bar}} / {{need_exp}} </p>
            <a href="{% url 'level_up' card_id=card.pk %}" class="btn btn-primary col-6 mx-auto">Улучшить</a>
        {% endif %}
    </div>
{% endblock content %}