{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' theme='news'%}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Получить бесплатно</li>
        </ol>
    </nav>
{% endblock navigation %}

{% block content %}
    <div class="container col-md-7 text-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Редкость</th>
                <th scope="col">Шанс выпадения</th>
            </tr>
            </thead>
            <tbody>
            {% for rarity in rarity_chance_drop %}
                <tr>
                    <th scope="row">{{ rarity.name }}</th>
                    <td>{{ rarity.drop_chance }} %</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <div class="container col-10 text-center">
        {% if user.is_authenticated %}
            {% if take_card == True %}
                <a href="{% url 'create_card' %}" class="btn btn-primary btn-lg">Получить карту</a>
            {% else %}
                Извините, сейчас вы не можете получить бесплатную карту. Следующая попытка будет доступна через: {{ hours }} часов
            {% endif %}
        {% else %}
            Для просмотра этой страницы вы должны авторизироваться
        {% endif %}
    </div>
{% endblock content %}