{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' theme='news'%}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Изменение команды</li>
        </ol>
    </nav>
{% endblock navigation %}

{% block content %}
    <div class="container col-12">
        <div class="row">
            {% for card in cards %}
            <div class="col-4">
                <div class="card card border-dark" style="width: 23rem;">
                    <img src="{{ card.class_card.image.url }}" class="card-img-top" alt="card_image">
                    <div class="card-body">
                        {% if card in used  %}
                        <h5 class="card-title">{{ card.class_card }}: <span style="color:#009933">Используется</span></h5>
                        {% else %}
                        <h5 class="card-title">{{ card.class_card }}</h5>
                        {% endif %}
                        <p class="card-text">Редкость: {{ card.rarity }}</p>
                        <p class="card-text">Тип: {{ card.type }}</p>
                        <p class="card-text">Здоровье: {{ card.hp }}</p>
                        <p class="card-text">Урон: {{ card.damage }}</p>
                        <p>Способность: {{ card.class_card.skill }}</p>

                        <div class="btn-group-vertical col-12 mx-auto">
                            <a href="{% url 'be_team_set' place=place current_card_id=card.pk %}" class="btn btn-primary">Установить</a>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}