{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
<a href="{% url 'home' %}">Главная / </a>
<a href="{% url 'view_profile' user_id=card.owner.pk %}">{{ card.owner.username }} / </a>
<a href="{% url 'card' card_id=card.pk %}">Карта {{ card.pk }} / </a>
{% endblock navigation %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Продать">
    </form>
{% endblock content %}