{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}{{ header }}{% endblock header %}

{% block navigation%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'view_profile' user_id=user_info.pk %}">{{ user_info.username }}</a></li>
            {% if user_info.pk == user.id %}
                <li class="breadcrumb-item active" aria-current="page">Карты пользователя: {{ count_cards }} из {{ max_count_cards }}</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">Карты пользователя</li>
            {% endif %}
        </ol>
    </nav>
{% endblock navigation %}

{% block content %}
    <div class="container col-12">
        <div class="row">
            {% for card in cards %}
            <div class="col-4">
                <div class="card card border-dark" style="width: 23rem;">
                    <img src="{{ card.class_card.image.url }}" class="card-img-top" alt="card_image">
                    <div class="card-body">
                        <h5 class="card-title" class="text-center">ID: <a href="{% url 'card' card_id=card.pk %}">{{ card.pk }}</a>
                            {% if user.profile.current_card == card %}
                                <span class="text-right" style="color:#ff5c77">Избранная карта</span>
                            {% endif %}
                            {% if user.id == card.owner.id and card.sale_status == True %}
                                <span class="card-text" style="color:#42b85c">{{ card.price }}</span>
                        {% endif %}
                        </h5>
                        <p class="card-text">Редкость: {{ card.rarity }}</p>
                        <p class="card-text">Класс: {{ card.class_card }}</p>
                        <p class="card-text">Тип: {{ card.type }}</p>
                        <p class="card-text">Здоровье: {{ card.hp }}</p>
                        <p class="card-text">Урон: {{ card.damage }}</p>
                        <p>Способность: {{ card.class_card.skill }}</p>
                        <p class="card-text">Уровень: {{ card.level }} из {{ card.rarity.max_level }}</p>
                        <p class="card-text">Улучшение: {{ card.enhancement }} из {{ card.max_enhancement }}</p>
                        <p class="card-text">Слияние: {{ card.merger }} из {{ card.max_merger }}</p>
                        <div class="btn-group-vertical col-12 mx-auto">
                            {% if user.id == card.owner.id %}
                                {% if user.profile.current_card != card %}
                                    <a href="{% url 'select_favorite_card' selected_card_id=card.id %}" class="btn btn-primary">Сделать избранной</a><br>
                                {% endif %}
                                {% if card.sale_status %}
                                    <a href="{% url 'remove_from_sale_card' card_id=card.pk %}" class="btn btn-primary">Убрать с продажи</a>
                                {% else %}
                                    <a href="{% url 'card_sale' card_id=card.pk %}" class="btn btn-primary">Выставить на продажу</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
